@using FreeLance.Models
@model Post
@{
    ViewBag.Title = "DeletePost";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
    @Styles.Render("~/Content/css")
}
<div style="margin-left:200px;">
    <h2>Are You Sure to Delete Post ?</h2>
    @using (Html.BeginForm("DeletePost", "Clientposts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-group" style="height:50px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>

    }

</div>