@using FreeLance.Models

@{

    Layout = "~/Views/Shared/_Wall.cshtml";
    @Styles.Render("~/Content/css")
}
<head>
    <title>Propose</title>
</head>
<div style="margin:300px;">
    <h2>You Want To Propose For This Job</h2>

    @using (Html.BeginForm("proposal", "FreeLancer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        @Html.AntiForgeryToken()

        <div class="form-group" style="height:50px; margin-left:110px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Propose" class="btn btn-primary" />
            </div>
        </div>

    }
</div>